*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html , body , #root {
  height: 100%;
  width: 100%;
}

html{
  background-color: rgb(255, 145, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  flex-wrap: wrap;
}

.note{
  background-color: rgb(122, 52, 4);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 50rem;
  color: rgb(255, 253, 253);

}